<div class="container-fluid">
<div class="jumbotron">
  <h1 style="text-align:center;height: 20px;">Angular Search Engine</h1>
</div>
  <header>
    <div class="row">
      <div class="col-lg-5 mx-auto"> 
         <img style="width: 600px;" class="logo" src="https://cdn.vox-cdn.com/thumbor/dOZfqr8j2NcSa8Vjn0pPzg2gm2s=/0x0:2012x1341/1220x813/filters:focal(0x0:2012x1341):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg">
         <div class="md-form active-cyan-2 mb-3">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" style="width: 600px;">
          <button type="button" class="btn btn-success" style="width: 600px;">Search</button> 
        </div>
         </div>
        </div>
  </header>
    </div>